*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-family: "Montserrat",sans-serif;
	font-size: 16px;
	margin: 0;

	background-size: cover;
	color: #000;
	height: 100%;
}


.banner{
	background:url('https://media-exp1.licdn.com/dms/image/C4E1BAQHXp25ByAD9yA/company-background_10000/0/1550679681786?e=2147483647&v=beta&t=OF-r7YdkbsFpYFBcojHtY8Mocdh3SxfPFD_tMZHxzPI') center center no-repeat;
	background-size: cover;
	height: 100vh;
    width: 100%;
	position: relative;
    background-repeat: no-repeat;
}
